@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$red: #EF2F3C;
$white: #F6F4F3;
$blue: #276FBF;
$dark: #183059;
$yellow: #F0A202;

$col1: #D8B6A4;
$col2: #D8B6A4;
$col3: #D8B6A4;
$col4: #D8B6A4;
$letter1: #fff;
$letter2: #fff;
$letter3: #fff;
$letter4: #fff;

$star: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


.timer {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: 1em;
  letter-spacing: 2px;
  margin-top: 5%;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding-top: 50px;
  margin: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.days {
  background: $col1;
  color: $letter1;
}

.hours {
  background: $col2;
  color: $letter2;
}

.minutes {
  background: $col3;
  color: $letter3;
}

.seconds {
  background: $col4;
  color: $letter4;
}

.numbers {
  font-family: $big;
  font-size: 3em;
}

.string {
  padding-top: 10px;
}

.mouth {
  position:absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

@media (max-width:675px) {
  /* For tablets: */
  .timer {
    font-size: .8em;
  }

  .string {
    padding-top: 0;
  }

  .days, .hours, .minutes, .seconds {
    padding-top: 35px;
    width: 120px;
    height: 120px;
  }
}

@media (max-width:525px) {
  /* For tablets: */
  .timer {
    font-size: .6em;
  }

  .string {
    padding-top: 0;
  }

  .days, .hours, .minutes, .seconds {
    padding-top: 30px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width:440px) {
  /* For tablets: */
  .timer {
    font-size: .5em;
  }

  .string {
    padding-top: 0;
  }

  .days, .hours, .minutes, .seconds {
    padding-top: 20px;
    width: 80px;
    height: 80px;
  }
}

@media (max-width:365px) {
  /* For tablets: */
  .timer {
    font-size: .4em;
  }

  .string {
    padding-top: 0;
  }

  .days, .hours, .minutes, .seconds {
    padding-top: 10px;
    width: 60px;
    height: 60px;
  }
}